<div class="jumbotron">
    
  <h1>Hello, world!</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>
<userinfo></userinfo>
<i class="fa fa-address-book" aria-hidden="true"></i>
<i class="fa fa-address-book" aria-hidden="true"></i>
<i class="fa fa-address-book" aria-hidden="true"></i>
<!-- 动态创建组件 第一步  容器 -->
<div #container></div>
<button (click)="destoryChild()">删除创建的自组建</button>
<header #header></header>
<button (click)="header.sayhello()">调子组件方法</button>
<flyin></flyin>
<p highlight>重中之重重中之重</p>

<a routerLink="/header">头部</a>
<a [routerLink]="['shadow',{user:111,name:'zou'}]">shadow</a>

<button class="btn btn-success" (click)="goNav()">手动导航跳转</button>
<router-outlet></router-outlet>

