<div class="jumbotron">
  <h1>Hello, world!</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>

<i class="fa fa-address-book" aria-hidden="true"></i>
<i class="fa fa-address-book" aria-hidden="true"></i>
<i class="fa fa-address-book" aria-hidden="true"></i>
<!-- 动态创建组件 第一步  容器 -->
<div #container></div>
<button (click)="destoryChild()">删除创建的自组建</button>
<header #header></header>
<button (click)="header.sayhello()">调子组件方法</button>
<flyin></flyin>
<shadow></shadow>
<p highlight>重中之重重中之重</p>

